---
import Spinner from '../components/Spinner.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="PremPredict - Table">
	<div hx-on="htmx:configRequest: event.detail.headers=''; event.detail.headers['Content-Type']='application/x-www-form-urlencoded; charset=UTF-8'"
        hx-get=`${Astro.url.origin}/table/standings`
        hx-trigger="load delay:0ms">
        <Spinner />
    </div>
</Layout>
