--- 
interface Props {
	title: string;
}
const { title } = Astro.props;

import { Image } from 'astro:assets';
import premlogo from '../assets/prem_logo.png';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/prem_logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/htmx.org@1.9.4"></script>
	</head>
	<body class="lg:max-w-6xl md:max-w-2xl max-w-xl m-auto bg-gray-950 text-white text-md">
		<nav class="grid grid-cols-2 my-2 bg-gray-900 p-4 rounded-sm">
			<div class="">
				<header class="md:text-4xl text-xl font-sans flex gap-x-6">
					<Image src={premlogo} alt="Premier League Emblem"  class={"w-12"} />
					<h2 class="my-auto"><a href="/">premPredict</a></h2>
				</header>
			</div>
			<div class="flex gap-x-2 px-20 my-auto md:text-lg text-md">
				<p><a href="/conditions">Dashboard</a></p>
				<p><a href="/conditions">Predict</a></p>
				<p><a href="/results">Results</a></p>
				<p><a href="/fixtures">Fixtures</a></p>
				<p><a href="/table">Table</a></p>
				<p><a href="/profile">Profile</a></p>
			</div>
		</nav>
		<div transition:name="main" transition:animate="slide">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
